*{
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #d6e2f0;
}

#qr-container{
  width: 350px;
  height: 520px;
  background-color: white;
  border-radius: 20px;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

.qr-code-image{
  text-align: center;
}

.qr-code-image img{
  width: 100%;
  padding: 1.5rem;
  border-radius: 25px; 
}

h2 {
  text-align: center;
  padding: 0 1.3rem;
  color: #1f3251;
  
}

p{
  font-size: 15px;
  color: #7b8898;
  text-align: center;
  padding: 1rem 3rem;
}

/*
media Query for mobile devices
*/

@media screen and (max-width: 480px) {
  #qr-container{
    margin-top: 2rem;
    width: 93%;
  }
}